.app {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: auto;
  width: 1000px;

  .app__routes {
    flex: 1 1 100%;
  }
}
