.navbar {
  background-color: var(--dark-3);
  border-bottom: 5px solid var(--dark-4);
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: var(--space-3);

  .navlink {
    display: flex;
    height: 100%;
    text-decoration: none;
  }

  .navlink-selected {
    background-color: var(--dark-2);
  }

  .navbar__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 var(--space-4);

    .navbar__item--text {
      color: var(--primary);
      font-size: 14px;
    }
  }
}
